EchoClient1/Service References/Echo/echo_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:echo="http://www.without-brains.net/echo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.without-brains.net/echo_service" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.without-brains.net/echo_service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://www.without-brains.net/echo" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.without-brains.net/echo">
      <xs:include schemaLocation="./echo_service.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="EchoRequestMessage">
    <wsdl:part name="parameter" element="echo:EchoRequest" />
  </wsdl:message>
  <wsdl:message name="EchoResponseMessage">
    <wsdl:part name="parameter" element="echo:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseEchoRequestMessage">
    <wsdl:part name="parameter" element="echo:ReverseEchoRequest" />
  </wsdl:message>
  <wsdl:message name="ReverseEchoResponseMessage">
    <wsdl:part name="parameter" element="echo:ReverseEchoResponse" />
  </wsdl:message>
  <wsdl:portType name="EchoPortType">
    <wsdl:operation name="Echo">
      <wsdl:input message="tns:EchoRequestMessage" />
      <wsdl:output message="tns:EchoResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseEcho">
      <wsdl:input message="tns:ReverseEchoRequestMessage" />
      <wsdl:output message="tns:ReverseEchoResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoBinding" type="tns:EchoPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://www.without-brains.net/echo_service#Echo" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseEcho">
      <soap:operation soapAction="http://www.without-brains.net/echo_service#ReverseEcho" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoService">
    <wsdl:port name="EchoPort" binding="tns:EchoBinding">
      <soap:address location="http://localhost:9292/echo_service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>