EchoClient1/Service References/Echo/echo_service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.without-brains.net/echo" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.without-brains.net/echo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EchoMessageType">
    <xs:sequence>
      <xs:element minOccurs="1" name="Message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EchoRequest" type="EchoMessageType" />
  <xs:element name="EchoResponse" type="EchoMessageType" />
</xs:schema>